#home_title {
  font-family: 'Pangolin', cursive;
  text-align: center;
  padding: 10px;
}

#welcome {
  font-family: 'Pangolin', cursive;
  text-align: center;
}

#home_words {
  font-family: 'Pangolin', cursive;
  text-align: center;
}

.translate-button-container {
  font-family: 'Pangolin', cursive;
  color: #2e767f;
  text-align: center;
}

body {
  background: linear-gradient(to right,
      #9af9f8,
      #30a5b5);
}