{% extends "layout.html" %}
{% block content %}
<div>
    <h1 id="home_title">
        GlobalLingo
    </h1>
    <h4 id="welcome"> Welcome to our GlobalLingo Translator</h4>
</div>
<p id="home_words">
    Need help with learning a new language?
    <br>
    In another country and want to communicate in the spoken language?
    <br>
    Use our GlobalLingo Translator by clicking the button below!
    </br>
    </br>
</p>
<div class="translate-button-container">
    <a class="btn btn-outline-custom" href=".{{ url_for('translator') }}">Go to Translator</a>
</div>
{% endblock content %}
