{% extends "layout.html" %}

{% block head %}

{% endblock %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
{% block content %}
<h1 id="title">
    GlobalLingo
</h1>
<div class="content-section">
    <form method="POST" action="">
       {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group left">
                {{ form.language.label(class="form-control-label") }}
                {% if form.language.errors %}
                {{ form.language(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.language.errors%}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.language(class="form-control form-control-lg") }}
                {% endif %}
                {{ form.text_input.label(class="form-control-label") }}
                {% if form.text_input.errors %}
                {{ form.text_input(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.text_input.errors%}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.text_input(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div id="right">
                    <strong>{{ final_sentence }}</strong>
                    <div>
                        <label for="translation-output">Translation: </label>
                        <br>
                        <textarea name="translation-output" id="" cols="" rows="" readonly>{{ final_translation }}</textarea>
                        <br>
                        <label for="pronunciation-output">Pronunciation: </label>
                        <br>
                        <textarea name="pronunciation-output" id="" cols="" rows="" readonly>{{ final_pronunciation }}</textarea> 
                    </div>
            </div>
        </fieldset>
        <br>
        <div class="translate-button-container" class="form-group" >
            {{ form.translate_text(class="btn btn-outline-info") }}
        </div>
    </form>
    
</div>
{% endblock content %}